html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #262f32;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-image {
  min-width: 908px;
}

.menu-section {
  padding: 57px 54px;
  max-width: 458px;
  background-color: #F2F1F1;
}

.menu-section__button {
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
}

.menu-section__title {
  margin-bottom: 48px;
  padding: 0;
  font-size: 40px;
  line-height: 57.75px;
  letter-spacing: 1.4px;
}

.menu-section__title_light {
  font-weight: 300;
}

.menu-section__title_bold {
  font-weight: 700;
}

.menu-section__title_regular {
  font-weight: 400;
}

.menu-section__text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.6px;
  margin-bottom: 28px;
}

.button-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 33px;
  height: 29px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.button-menu__line {
  width: 33px;
  height: 3px;
  background-color: #3A4245;
}

.button {
  font-size: 16.57px;
  line-height: 29px;
  color: #ffffff;
  border: 1px solid #ffffff;
  letter-spacing: 0.6px;
  border-radius: 12px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features {
  width: 614px;
  padding: 57px 97px 62px 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 146, 175, 0.75)), to(rgba(30, 146, 175, 0.75))), url(../img/newspapers.jpg);
  background: linear-gradient(rgba(30, 146, 175, 0.75), rgba(30, 146, 175, 0.75)), url(../img/newspapers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
}

.features__title {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 66px;
  font-weight: 300;
  letter-spacing: 1.4px;
  margin-bottom: 22px;
}

.features__title_black {
  font-weight: 900;
}

.features__text {
  margin: 0;
  padding: 0;
  width: 457px;
  font-size: 15.57px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 67px;
}

.features__text:last-child {
  margin-bottom: 0px;
}

.best {
  min-height: 427px;
  padding: 56px 54px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(255, 244, 210, 0.91)), color-stop(50%, rgba(255, 244, 210, 0.91))), url(../img/icons-on-the-table.jpg);
  background-image: linear-gradient(to top, rgba(255, 244, 210, 0.91) 50%, rgba(255, 244, 210, 0.91) 50%), url(../img/icons-on-the-table.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.best__title {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 66px;
  font-weight: 300;
  letter-spacing: 1.4px;
  margin-bottom: 23px;
}

.best__title_black {
  font-weight: 900;
}

.best__text {
  margin: 0;
  padding: 0;
  width: 542px;
  font-size: 15.57px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 58px;
}

.best__button {
  padding: 13px 39px 17px;
  color: #262f32;
  border: 1px solid #262f32;
}

.verified {
  min-height: 426px;
  padding: 56px 54px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(22, 38, 51, 0.75)), color-stop(50%, rgba(22, 38, 51, 0.75))), url(../img/music-column-on-the-shelf.jpg);
  background-image: linear-gradient(to top, rgba(22, 38, 51, 0.75) 50%, rgba(22, 38, 51, 0.75) 50%), url(../img/music-column-on-the-shelf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.verified__title {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 66px;
  font-weight: 300;
  letter-spacing: 1.15px;
  margin-bottom: 23px;
}

.verified__title_black {
  font-weight: 900;
}

.verified__text {
  margin: 0;
  padding: 0;
  margin-right: 80px;
  font-size: 15.57px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 58px;
}

.verified__button {
  padding: 13px 43px 17px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.webpage {
  width: 458px;
  min-height: 715px;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(29, 83, 103, 0.75)), color-stop(50%, rgba(29, 83, 103, 0.75))), url(../img/girl-sitting-on-a-rock.jpg);
  background-image: linear-gradient(to top, rgba(29, 83, 103, 0.75) 50%, rgba(29, 83, 103, 0.75) 50%), url(../img/girl-sitting-on-a-rock.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 57px 52px 57px 62px;
}

.webpage__desc {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 66px;
  font-weight: 300;
  letter-spacing: 1.15px;
  margin-bottom: 253px;
}

.webpage__desc_black {
  font-weight: 900;
}

.webpage__icon {
  margin-left: -3px;
  margin-bottom: 19px;
}

.webpage__title {
  margin: 0;
  padding: 0;
  font-size: 42px;
  line-height: 66px;
  font-weight: 900;
  margin-left: -4px;
  letter-spacing: 0.9px;
  margin-bottom: 1px;
}

.webpage__text {
  font-size: 16.57px;
  line-height: 30px;
  margin-left: -4px;
  letter-spacing: 0.6px;
}
/*# sourceMappingURL=style.css.map */