$text-color: #262f32

*,
html,
body
	margin: 0
	padding: 0

body
    +roboto
    font-size: 15.57px
    line-height: 28px
    +rRe
    letter-spacing: 0.03em
    color: $text-color
    background-color: #FFFFFF

.container
    max-width: 100%
    min-width: 320px

.button
    box-sizing: border-box
    display: inline-block
    +rRe
    font-size: 16.57px
    line-height: 32px
    letter-spacing: 0.03em
    color: #ffffff
    text-decoration: none
    border: 1px solid #ffffff
    border-radius: 12px

input, textarea
    &::-webkit-input-placeholder    
        color: #ffffff