$text-color: #262f32

*,
html,
body
	margin: 0
	padding: 0

body
    +roboto
    font-size: 15.57px
    line-height: 28px
    +rRe
    letter-spacing: 0.03em
    color: $text-color
    background-color: #FFFFFF

.container
    max-width: 100%
    min-width: 320px