@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin light {
    font-weight: 300;
}

@mixin regular {
    font-weight: 400;
}

@mixin bold {
    font-weight: 700;
}

@mixin black {
    font-weight: 900;
}