@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin rLi {
    font-weight: 300;
}

@mixin rRe {
    font-weight: 400;
}

@mixin rBo {
    font-weight: 700;
}

@mixin rBl {
    font-weight: 900;
}