.best
    padding: 60px
    background-image: linear-gradient(to top, rgba(#fff4d2, 0.91) 50%, rgba(#fff4d2, 0.91) 50%), url(../img/icons-on-the-table.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: 0 0

.best__title
    margin-bottom: 23px
    font-size: 45px 
    line-height: 66px
    +rLi
    letter-spacing: 0.03em

.best__span
.best__span_weight_black
    +rBl

.best__text
    margin-bottom: 48px
    max-width: 545px
    letter-spacing: 0.03em    

.best__button
    min-width: 212px
    line-height: 50px
    text-align: center
    color: $text-color
    border: 1px solid $text-color
    transition: background-color 0.3s, color 0.3s
    &:hover, &:focus
        color: #fff4d2
        background-color: $text-color