.features
    grid-row: span 2
    padding: 9.77% //60px
    background-image: linear-gradient(to top, rgba(#1e92af, 0.75) 50%, rgba(#1e92af, 0.75) 50%), url(../img/newspapers.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: 0 0
    color: #ffffff

.features__title
    margin-bottom: 3.75% //23px
    font-size: 45px 
    line-height: 1.4666666666666666 //66px
    +rLi
    letter-spacing: 0.03em

.features__span
.features__span_weight_black
    +rBl

.features__text
    max-width: 457px
    letter-spacing: 0.03em
    &:not(:last-child)
        margin-bottom: 10.91% //67px

@media screen and ( max-width: 1280px )
    .features__title
        font-size: 40px 
@media screen and ( max-width: 1020px )
    .features__title
        font-size: 36px 
@media screen and ( max-width: 960px )
    .features__title
        font-size: 32px 
@media screen and ( max-width: 865px )
    .features
        grid-row: auto
        padding: 6.94%
    .features__title
        margin-bottom: 2.66%
        font-size: 36px 
    .features__text
        max-width: 100%
        &:not(:last-child)
            margin-bottom: 7.75%
@media screen and ( max-width: 700px )
    .features__title
        font-size: 29px 