.menu-section
    padding: 57px 54px //12.45% 11.79%
    background-color: #F2F1F1   

.menu-section__button
    margin-bottom: 64px 
    width: 33px
    height: 29px
    background-color: transparent
    border: 0
    cursor: pointer

.menu-section__button-img
    display: block

.menu-section__web

.menu-section__title
    margin-bottom: 48px
    font-size: 40px
    line-height: 57.75px
    letter-spacing: 0.03em

.menu-section__span
.menu-section__span_weight_light
    +rLi
.menu-section__span_weight_bold
    +rBo
.menu-section__span_weight_regular
    +rRe

.menu-section__text
    font-size: 18px
    line-height: 28px
    letter-spacing: 0.03em
    &:not(:last-child)
        margin-bottom: 28px