.sayhello-form
    max-width: 620px
    min-height: 231px
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 57px minmax(161px, auto)
    gap: 12px

.sayhello-form__item-textarea
    grid-column: span 2

.sayhello-form__input,
.sayhello-form__textarea
    box-sizing: border-box
    width: 100%
    height: 100%
    padding: 11.5px 27px
    font-size: 16.57px
    line-height: 32px
    +rRe
    letter-spacing: 0.03em
    color: #FFFFFF
    background-color: transparent
    border: 1px solid #FFFFFF
    border-radius: 14px

.sayhello-form__textarea
    resize: none