.sayhello
    display: flex
    flex-direction: column
    padding: 60px
    color: #ffffff
    background-image: linear-gradient(to top, rgba(#5A665F, 0.5) 50%, rgba(#5A665F, 0.5) 50%), url(../img/road.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: 0 0

.sayhello__title
    margin-bottom: 41px
    font-size: 45px 
    line-height: 66px
    +rLi
    letter-spacing: 0.03em
.sayhello__span 
.sayhello__span_weight_black
    +rBl

.sayhello__form
    margin-bottom: auto

.sayhello__text
    margin-bottom: 14px 
    font-size: 16.57px
    line-height: 32px
    letter-spacing: 0.03em
    &_mb_none
        margin-bottom: 0

.sayhello__nav-social
    margin-bottom: 40px